* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(rgb(209, 207, 90)5%, rgb(74, 141, 141)75%);
}

.headerNav{
    background-image: linear-gradient(rgb(209, 207, 90), rgb(74, 141, 141));
}

.nameJon{
        margin-left: 30px;
        width: 50%;
        font-size: 60px;
}

.navText{
    color: white;
    text-decoration: none;
    width: 200px;
}

.navList{
    justify-content: space-between;
    width: 800px;
    margin-right: 100px;
}

.nav-item:hover{
    border-bottom: 4px solid rgb(94, 240, 215);
}