* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgb(209, 207, 90)5%, rgb(74, 141, 141)75%);
display: flex;
flex-wrap: wrap;
}

header{
    width: 100%;
}

.header {
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(rgb(209, 207, 90), rgb(74, 141, 141));
    color: black;
    height: 125px;
}

.jon{
    margin-left: 30px;
    float: left;
}

@media screen and (max-width: 1005px){
    .jon h1{
        font-size: 75%;
    }
}

@media screen and (max-width: 260px){
    .jon h1{
        font-size: 50%;
    }
}

.header div{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-left: 55px;
    margin-right: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    justify-content: flex-end;
}

.header div ul {
    list-style-type: none;
    padding: 20px; 
}

@media screen and (max-width: 1005px){
    .header nav ul{
        font-size: 75%;
    }
}

@media screen and (max-width: 260px){
    .header div ul{
        font-size: 50%;
    }
}

.header div ul li {
    display: inline;
    margin-left: 25px;
    margin-right: 40px;  
}

.header div ul li:hover{
    border-bottom: 4px solid rgb(94, 240, 215);

}


a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 32px;
}
 
/* header image */
.palms {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background: url("../assets/images/sunny-day-through-palm-trees.jpg");
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.header2 {
    position: absolute;
    border-radius: 50px;
    height: 115px;
    width: 500px;
    text-align: center;
    margin-top: 75px;
    margin-left: 800px;
    font-size: 48px;
    color: white;
    background-image: linear-gradient(rgb(209, 207, 90), rgb(74, 141, 141));
}

.self{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    background-image: url("../assets/images/20201031_160544.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 60px;
    margin-top: 25px;
}

#aboutmeright {
    border: darkturquoise solid 5px;
    border-radius: 20px;
    margin: 0px 30px 20px 350px;
    padding: 20px;
    height: auto;
    width: 950px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgb(172, 207, 226)60%,rgb(252, 216, 249));
    color: black;
}

#workright {
    width: 950px;
    border: darkturquoise solid 5px;
    border-radius: 20px;
    margin: 0px 30px 20px 350px;
    padding: 50px;
    height: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../assets/images/lines-of-waves-in-southeast-asia.jpg");
    background-size: cover;
    color: #ffffff;
    display: block;
}

#workright:hover{
    border: rgb(94, 240, 215) solid 8px;
    opacity: .8;
}

.workdesc{
    background-color: darkturquoise;
    height: 80px;
    width: 200px;
    margin-top: 300px;
    border-radius: 20px;
}

.workdesc h3{
    font-size: 32px;
    text-align: center;
}

.workdesc p{
    padding: 10px;
    font-size: 24px;
}
 
        /* start of flexbox */
.flexboxparent{
    width: 930px;
    height: auto;
    display: flex;
    margin-right: 120px;
    margin-left: 350px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
        /* child 1 in flexbox */

.child1{
    margin-bottom: 15px;
    width: 400px;
    height: 150px;
    background-image: url("../assets/images/LEDwall.jpg");
    background-repeat: repeat;
    background-size: cover;
    border-radius: 20px;
    border: darkturquoise solid 5px;
    display: block;
}

.child1:hover{
    border: rgb(94, 240, 215) solid 8px;
    opacity: .8;
}

.title1{
    height: 80px;
    width: 170px;
    background-color: darkturquoise;
    margin-top: 55px;
    margin-left: 20px;
    border-radius: 20px;
}

.child1 h3{
    font-size: 26px;
    text-align: center;
    color: white;
}
    
.child1 p{
    font-size: 22px;
    text-align: center;
    color: white;
}

        /* child 2 in flexbox */
.child2{
    margin-bottom: 15px;
    width: 400px;
    height: 150px;
    background-image: url("../assets/images/calculator.jpg");
    background-repeat: repeat;
    background-size: cover;
    border-radius: 20px;
    border: darkturquoise solid 5px;
    display: block;
}

.child2:hover{
    border: rgb(94, 240, 215) solid 8px;
    opacity: .8;
}

.title2{
    height: 80px;
    width: 170px;
    background-color: darkturquoise;
    margin-top: 55px;
    margin-left: 20px;
    border-radius: 20px;
}

.child2 h3{
    font-size: 26px;
    text-align: center;
    color: white;
}
    
.child2 p{
    font-size: 22px;
    text-align: center;
    color: white;
    word-wrap: break-word;
}

        /* child 3 in flexbox */
.child3{
    margin-bottom: 15px;
    width: 400px;
    height: 150px;
    background-image: url("../assets/images/pastelpuzzels.jpg");
    background-repeat: repeat;
    background-size: cover;
    border-radius: 20px;
    border: darkturquoise solid 5px;
    display: block;
}

.child3:hover{
    border: rgb(94, 240, 215) solid 8px;
    opacity: .8;
}

.title3{
    height: 80px;
    width: 170px;
    background-color: darkturquoise;
    margin-top: 55px;
    margin-left: 20px;
    border-radius: 20px;
}

.child3 h3{
    font-size: 24px;
    text-align: center;
    color: white;
}
    
.child3 p{
    font-size: 22px;
    text-align: center;
    color: white;
}


        /* child 4 in flexbox */
.child4{
    margin-bottom: 15px;
    width: 400px;
    height: 150px;
    background-image: url("../assets/images/runbuddy.jpg");
    background-repeat: repeat;
    background-size: cover;
    border-radius: 20px;
    border: darkturquoise solid 5px;
}

.child4:hover{
    border: rgb(94, 240, 215) solid 8px;
    opacity: .8;
}

.title4{
    height: 80px;
    width: 170px;
    background-color: darkturquoise;
    margin-top: 55px;
    margin-left: 20px;
    border-radius: 20px;
}

.child4 h3{
    font-size: 26px;
    text-align: center;
    color: white;
}
    
.child4 p{
    font-size: 22px;
    text-align: center;
    color: white;
}


/* right side contacts / links */
.contact{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 50px;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contactright{
    border: darkturquoise solid 5px;
    border-radius: 20px;
    margin: 0px 30px 20px 80px;
    font-size: 20px;
    padding: 50px;
    height: auto;
    width: 950px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgb(172, 207, 226)60%,rgb(252, 216, 249));
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.email a{
    font-size: 30px;
    color: rgb(18, 133, 127);
}

.github a{
    font-size: 30px;
    color: rgb(18, 133, 127);
}

.email a:hover{
color: palegreen;
}

.github a:hover{
    color: palegreen;
}