* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(rgb(209, 207, 90)5%, rgb(74, 141, 141)75%);
}

.headerNav{
    background-image: linear-gradient(rgb(209, 207, 90), rgb(74, 141, 141));
}

.nameJon{
        margin-left: 30px;
        width: 50%;
        font-size: 60px;
}

.navText{
    color: white;
    text-decoration: none;
    width: 200px;
}

.navList{
    justify-content: space-between;
    width: 800px;
    margin-right: 100px;
}

.nav-item:hover{
    border-bottom: 4px solid rgb(94, 240, 215);
}

.self{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    background-image: url("../assets/images/20201031_160544.jpg");
    margin-top: 25px;
    margin-right: 50px;

}

.palms{
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background: url("../assets/images/sunny-day-through-palm-trees.jpg");
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.navList{
    font-size: 36px;
}

#aboutMeContent {
    border: darkturquoise solid 5px;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgb(172, 207, 226)60%,rgb(252, 216, 249));
    color: black;
    font-size: 24px;
}

#workContent {
    border: darkturquoise solid 5px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../assets/images/weatherDashboard.PNG");
    background-size: cover;
    color: #ffffff;
    display: block;
}

#workContent:hover{
    border: rgb(94, 240, 215) solid 8px;
    opacity: .8;
}

.workdesc{
    margin-top: 300px;
    border-radius: 20px;
}

.workdesc h3{
    padding: 10px;
    font-size: 24px;
}

.workdesc p{
    padding: 10px;
    font-size: 18px;
}

/* begining of 4 smaller work containers */
#workSmOne{
    margin-bottom: 15px;
    width: auto;
    height: 150px;
    background-image: url("../assets/images/LEDwall.jpg");
    background-repeat: repeat;
    background-size: cover;
    border-radius: 20px;
    border: darkturquoise solid 5px;
    display: block;
}

#workSmOne:hover{
    border: rgb(94, 240, 215) solid 8px;
    opacity: .8;
}

#title1{
    height: 80px;
    width: 170px;
    background-color: darkturquoise;
    margin-top: 55px;
    margin-left: 20px;
    border-radius: 20px;
}

#workSmOne h3{
    font-size: 26px;
    text-align: center;
    color: white;
}
    
#workSmOne p{
    font-size: 22px;
    text-align: center;
    color: white;
}


       
#workSmTwo{
    margin-bottom: 15px;
    width: auto;
    height: 150px;
    background-image: url("../assets/images/calculator.jpg");
    background-repeat: repeat;
    background-size: cover;
    border-radius: 20px;
    border: darkturquoise solid 5px;
    display: block;
}

#workSmTwo:hover{
    border: rgb(94, 240, 215) solid 8px;
    opacity: .8;
}

#title2{
    height: 80px;
    width: 170px;
    background-color: darkturquoise;
    margin-top: 55px;
    margin-left: 20px;
    border-radius: 20px;
}

#workSmTwo h3{
    font-size: 26px;
    text-align: center;
    color: white;
}
    
#workSmTwo p{
    font-size: 22px;
    text-align: center;
    color: white;
    word-wrap: break-word;
}

#contactContent{
    border: darkturquoise solid 5px;
    border-radius: 20px;
    margin: 0px 30px 20px 80px;
    font-size: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgb(172, 207, 226)60%,rgb(252, 216, 249));
    color: black;
}